.w-20{
  width:20%
}
.w-30{
  width: 30%
}

.text-logo{
  width: 100px;
}

.bi{
  margin-right: 10px;
}

.stores{
  height: 60px;
}

.profile-pic{
  height: 40px;
}

.post-image{
  width: 300px;
  height: auto;
}